<div class="bg-neutral-900" id="contact">
  <div class="max-w-5xl px-4 xl:px-0 py-10 lg:py-20 mx-auto">
    <!-- Title -->
    <div class="mb-10 lg:mb-14">
      <h2
        data-aos="fade-in"
        class="text-white font-semibold text-2xl md:text-4xl md:leading-tight"
      >
        Contáctame
      </h2>
      <p class="mt-1 text-neutral-400" data-aos="fade-in">
        Si tienes una propuesta de trabajo o alguna consulta profesional, aquí
        puedes encontrar mi información de contacto. ¡Estoy ansioso por conocer
        nuevas oportunidades!
      </p>
    </div>
    <!-- End Title -->

    <div class="space-y-14">
      <!-- Location -->
      <div class="flex gap-x-5" data-aos="fade-in">
        <img
          class="flex-shrink-0 size-6"
          src="assets/images/svg/location.svg"
          alt=""
        />
        <div class="grow">
          <h4 class="text-white font-semibold">Ubicación:</h4>
          <address class="mt-1 text-neutral-400 text-sm not-italic">
            Tuluá/Cali, Valle del Cauca, Colombia
          </address>
        </div>
      </div>

      <!-- Email -->
      <div class="flex gap-x-5" data-aos="fade-in">
        <img
          class="flex-shrink-0 size-6 text-neutral-500"
          src="assets/images/svg/email.svg"
          alt=""
        />
        <div class="grow">
          <h4 class="text-white font-semibold">Correo Electrónico:</h4>
          <p class="mt-1 text-neutral-400 text-sm">
            {{ "davidmejia-2000@outlook.com" }}
          </p>
          <p class="mt-1 text-neutral-400 text-sm">
            {{ "davidmejia13320@gmail.com" }}
          </p>
        </div>
      </div>

      <!-- Whatsapp -->
      <div class="flex gap-x-5" data-aos="fade-in">
        <img
          class="flex-shrink-0 size-6 text-neutral-500"
          src="assets/images/svg/whatsapp.svg"
          alt=""
        />
        <div class="grow">
          <h4 class="text-white font-semibold">WhatsApp:</h4>
          <a
            class="group inline-flex items-center gap-x-2 font-medium text-sm text-[#ff0] decoration-2 hover:underline focus:outline-none focus:underline"
            [href]="whatsApp"
            target="_blank"
          >
            Ir al WhatsApp
            <img src="assets/images/svg/arrow-right.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- Linkedin -->
      <div class="flex gap-x-5" data-aos="fade-in">
        <img
          class="flex-shrink-0 size-6 text-neutral-500"
          src="assets/images/svg/linkedin.svg"
          alt=""
        />
        <div class="grow">
          <h4 class="text-white font-semibold">Linkedin:</h4>
          <a
            class="group inline-flex items-center gap-x-2 font-medium text-sm text-[#ff0] decoration-2 hover:underline focus:outline-none focus:underline"
            [href]="linkedin"
            target="_blank"
          >
            Ver Linkedin
            <img src="assets/images/svg/arrow-right.svg" alt="" />
          </a>
        </div>
      </div>

      <!-- Github -->
      <div class="flex gap-x-5" data-aos="fade-in">
        <img
          class="flex-shrink-0 size-6 text-neutral-500"
          src="assets/images/svg/github.svg"
          alt=""
        />
        <div class="grow">
          <h4 class="text-white font-semibold">Repositorio:</h4>
          <a
            class="group inline-flex items-center gap-x-2 font-medium text-sm text-[#ff0] decoration-2 hover:underline focus:outline-none focus:underline"
            [href]="repository"
            target="_blank"
          >
            Ver Repositorio
            <img src="assets/images/svg/arrow-right.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
