<!-- NAVBAR -->
<app-navbar></app-navbar>
<!-- END NAVBAR -->

<!-- Main-->
<main class="relative" id="content">
  <!-- Presentation -->
  <app-presentation></app-presentation>
  <!-- End Presentation -->

  <!-- Projects -->
  <app-projects></app-projects>
  <!-- End Projects -->

  <!-- Testimonials -->
  <app-reviews></app-reviews>
  <!-- End Testimonials -->

  <!-- Stats -->
  <app-stats></app-stats>
  <!-- End Stats -->

  <!-- Jobs -->
  <app-jobs></app-jobs>
  <!-- End Jobs -->

  <!-- Studies -->
  <app-studies></app-studies>
  <!-- End Studies -->

  <!-- Certificacionts -->
  <app-certifications></app-certifications>
  <!-- End Certificacionts -->

  <!-- CV -->
  <app-cv></app-cv>
  <!-- End CV -->

  <!-- Contact -->
  <app-contact></app-contact>
  <!-- End Contact -->
</main>
<!-- End Main -->

<!-- WhatsApp Button -->
<a
  class="fixed bottom-4 right-4 z-50 slide-in-bottom"
  [href]="whatsApp"
  target="_blank"
>
  <img class="w-20" src="assets/images/logos/whatsapp.png" alt="" />
</a>
<!-- End WhatsApp Button -->

<!-- Footer -->
<app-footer></app-footer>
<!-- End Footer -->
