<!-- Timeline -->
<div>
  @for (timelineJob of timelineJobs; track timelineJob) {
  <!-- Heading -->
  <div class="ps-2 my-2 first:mt-0" data-aos="fade-in">
    <h3
      class="text-xs font-medium uppercase text-gray-500 dark:text-neutral-400"
    >
      {{ timelineJob.date }}
    </h3>
  </div>
  <!-- End Heading -->

  <!-- Item -->
  <div class="flex gap-x-3" data-aos="fade-in">
    <!-- Icon -->
    <div
      class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700"
    >
      <div class="relative z-10 size-7 flex justify-center items-center">
        <img
          class="shrink-0 size-7 rounded-full"
          src="assets/images/logos/dev.png"
          alt="Avatar"
        />
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pt-0.5 pb-8">
      <div class="flex items-center space-x-2">
        <img class="rounded w-24 max-h-7" [src]="timelineJob.image" alt="" />
        <h3 class="flex gap-x-1.5 font-semibold text-white">
          {{ timelineJob.title }}
        </h3>
      </div>
      <p class="mt-1 text-sm text-neutral-400">
        {{ timelineJob.description }}
      </p>
      <button class="mt-auto" target="_blank">
        <span
          class="font-medium text-sm text-[#ff0] pb-1 border-b-2 border-neutral-700 group-hover:border-[#ff0] transition focus:outline-none group-focus:border-[#ff0]"
        >
          {{ timelineJob.buttonLabel }}
        </span>
      </button>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  }
</div>
<!-- End Timeline -->
