<div class="bg-neutral-900" id="trajectory">
  <div class="max-w-5xl px-4 xl:px-0 py-10 lg:py-20 mx-auto">
    <!-- Title -->
    <div class="max-w-3xl mb-10 lg:mb-14">
      <h2
        class="text-white font-semibold text-2xl md:text-4xl md:leading-tight"
      >
        Mi Trayectoria Profesional
      </h2>
      <p class="mt-1 text-neutral-400">
        A lo largo de mi carrera, he tenido el privilegio de participar en
        numerosos proyectos que han desafiado mis habilidades y han enriquecido
        mi experiencia profesional. Desde desarrollos innovadores en el sector
        tecnológico hasta colaboraciones con empresas de renombre, cada proyecto
        ha sido una oportunidad para aprender y crecer. A continuación,
        encontrarás un resumen de mis logros, las empresas con las que he
        trabajado y otros datos estadísticos que reflejan mi compromiso y
        dedicación en el campo del desarrollo de software.
      </p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:gap-10 lg:gap-16 md:items-center">
      <div>
        <!-- Blockquote -->
        <blockquote>
          <p
            class="font-medium text-xl text-white md:text-2xl md:leading-normal xl:text-3xl xl:leading-normal"
          >
            Transformando ideas en realidades digitales: innovando,
            desarrollando y perfeccionando soluciones tecnológicas que impulsan
            el futuro.
          </p>
        </blockquote>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->

      <div class="mt-10 mb-24 md:mb-0 mb:mt-0">
        <img
          class="rounded-xl"
          src="https://www.simplilearn.com/ice9/free_resources_article_thumb/tester-or-developer-what-suits-you-the-most.jpg"
          alt="Image Description"
        />
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
</div>
